<div id="correspondence_contact_requested_yes_content" class="<%= local_assigns.fetch :klass, '' %>">
  <%= f.govuk_text_field :name %>
  <%= f.govuk_email_field :email %>

  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="<%= Settings.correspondence_message_max_length %>">
    <label class="govuk-label" for="correspondence-message">Your message</label>
    <div id="correspondence-message-hint" class="govuk-hint">
      <%= t('helpers.hint.correspondence.message_html') %>
    </div>
    <%= f.text_area :message, id: 'correspondence-message', class: 'govuk-textarea govuk-js-character-count', rows: 10, 'aria-describedby': 'correspondence-message-hint correspondence-message-info' %>
    <div id="correspondence-message-info" class="govuk-hint govuk-character-count__message">
      You can enter up to <%= Settings.correspondence_message_max_length %> characters
    </div>
  </div>

  <p class="govuk-body">
    <%= "By using this service you agree to these " %>
    <%= govuk_link_to "terms and conditions (opens in new tab)", correspondence_t_and_c_path, target: "_blank" %>
    <%= ". Please read them carefully." %>
  </p>

  <%= f.hidden_field :topic, value: @correspondence.topic %>
  <%= f.govuk_submit t('button.send'), class:'button', onclick: "ga('send', 'event', 'Question', 'Sent')" %>
</div>
