<div id="correspondence_contact_requested_yes_content" class="js-hidden">
  <%= f.govuk_text_field :name %>
  <%= f.govuk_email_field :email %>
  <%= f.govuk_text_area :message, rows: 10 %>

  <div class="char-counter form-group">
    <span aria-live="polite" id="live-region-text">
      <span class="char-counter-count"><%= Settings.correspondence_message_max_length %></span>
      <%= " characters remaining" %>
    </span>
  </div>
  <p>
    <%= "By using this service you agree to these " %>
    <%= govuk_link_to "terms and conditions", correspondence_t_and_c_path, target: "_blank" %>
    <%= ". Please read them carefully." %>
  </p>

  <%= f.hidden_field :topic, value: @correspondence.topic %>
  <%= f.govuk_submit t('button.send'), class:'button', onclick: "ga('send', 'event', 'Question', 'Sent')" %>
  </div>
