<%= ::Temple::Utils.escape_html((f.text_field :name)) %>
<%= ::Temple::Utils.escape_html((f.email_field :email)) %>
<%= ::Temple::Utils.escape_html((f.text_area :message, {rows: 10, 'aria-labelledby': 'correspondence_message correspondence_message_count' })) %>

<div class="char-counter form-group"<% _slim_codeattributes1 = Settings.correspondence_message_max_length; if _slim_codeattributes1; if _slim_codeattributes1 == true %> data-maxlength=""<% else %> data-maxlength="<%= ::Temple::Utils.escape_html((_slim_codeattributes1)) %>"<% end; end %> id="correspondence_message_count">
<span aria-live="polite" id="live-region-text">

<span class="char-counter-count">
<%= ::Temple::Utils.escape_html((Settings.correspondence_message_max_length)) %>
</span><%= ::Temple::Utils.escape_html((" characters remaining")) %>
</span></div><p>
<%= ::Temple::Utils.escape_html(("By using this service you agree to these ")) %>
<%= ::Temple::Utils.escape_html((link_to "terms and conditions", correspondence_t_and_c_path, target:"_blank")) %>
<%= ::Temple::Utils.escape_html((". Please read them carefully.")) %>

</p><%= ::Temple::Utils.escape_html((f.hidden_field :topic, value: @correspondence.topic)) %>
<%= ::Temple::Utils.escape_html((f.submit t('button.send'), {class:'button', onclick: "ga('send', 'event', 'Question', 'Sent')"})) %>
