<% content_for :page_title do %>
  <%= t('page_title.contact_form') %>
<% end %>

<%= render partial: 'layouts/header', locals: {page_heading: t('common.service_name')} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">You're contacting the Ministry of Justice about</h2>

    <p class="govuk-body original-message"><%= @correspondence.topic %></p>

    <% unless @search_results.empty? %>
      <h2 class="govuk-heading-l">The following information may help:</h2>
      <%= govuk_list @search_results, classes: "search-results" %>
    <% end %>

    <%= form_for @correspondence do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :contact_requested do %>
        <%= f.govuk_radio_button :contact_requested, 'yes', label: { text: "Yes" } %>
        <%= f.govuk_radio_button :contact_requested, 'no', label: { text: "No" } %>
      <% end %>
      <%= render partial: 'contact_form', locals: {f: f} %>
    <% end %>

    <p id="correspondence_contact_requested_no_content" class="govuk-body js-hidden">
      Was this service helpful? <%= govuk_link_to "Provide feedback", feedback_path %> (takes 30 seconds)
    </p>
  </div>
</div>
