<% content_for :page_title do %>
  <%= t('page_title.topic_search') %>
<% end %>

<%= render partial: 'layouts/header', locals: { page_heading: t('common.service_name') } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= GovukElementsErrorsHelper.error_summary @correspondence,
        "#{pluralize(@correspondence.errors.count, t('common.error'))} #{ t('common.summary_error')}", "" %>

      <%= form_for @correspondence, url: correspondence_search_path, method: :get do |f| %>
        <%= f.text_field :topic, { maxlength: Settings.correspondence_topic_max_length } %>
        <%= f.submit t('button.continue'), { class:'button', onclick: "ga('send', 'event', 'Question', 'Search')" } %>
      <% end %>
    </p>
  </div>
</div>
