<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <title><%= yield(:page_title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_path('images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag asset_path('images/favicon.ico'), sizes: '48x48' %>
    <%= favicon_link_tag asset_path('images/favicon.svg'), type: 'image/svg+xml', sizes: 'any' %>
    <%= favicon_link_tag asset_path('images/govuk-icon-mask.svg'), rel: 'mask-icon', color: '#0b0c0c' %>
    <%= favicon_link_tag asset_path('images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

    <%= stylesheet_link_tag "application" %>

    <%= render partial: 'layouts/gtm' if analytics_allowed? %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="govuk-template__body govuk-frontend-supported">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= render partial: 'layouts/gtm_noscript' if analytics_allowed? %>

    <% unless analytics_consent_cookie.present? %>
      <%= render partial: 'layouts/cookie_banner' %>
    <% end %>

    <% if flash['cookies_consent_updated'] %>
      <%= render partial: 'layouts/cookie_banner_confirmation', locals: { result: flash['cookies_consent_updated'] } %>
    <% end %>
    
    <%= govuk_skip_link %>

    <%= govuk_header(homepage_url: "https://www.gov.uk") %>

    <% unless current_page?(root_path) %>
      <%= render partial: 'layouts/service_navigation' %>
    <% end %>

    <div class="govuk-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">
            Help us make this service better. Give us your <%= govuk_link_to("feedback", t("correspondence.feedback.link_address"))%>.
          </span>
        </p>
      </div>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <%= govuk_footer(meta_items_title: "Support links", meta_items: {
      t("common.cookies") => cookies_path,
      t("common.accessibility") => "/accessibility" }) %>
  </body>
</html>
