<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta<% _slim_codeattributes1 = ("text/html; charset=UTF-8"); if _slim_codeattributes1; if _slim_codeattributes1 == true %> content=""<% else %> content="<%= ::Temple::Utils.escape_html((_slim_codeattributes1)) %>"<% end; end %> http-equiv="Content-Type" />
<title>Correspondence Tool</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<%= ::Temple::Utils.escape_html((stylesheet_link_tag "email", media: "all")) %>

</head><body>

<table cellpadding="0" cellspacing="0" id="wrapper">
<tr>
<td>
<table align="center" cellpadding="0" cellspacing="0" id="mail-header">
<tr>
<td id="govuk-logo">
<%= ::Temple::Utils.escape_html((image_tag image_url('govuk_logotype_email.png'), alt: 'GOV.UK')) %>
</td></tr><tr>
<td id="moj-logo">
<%= ::Temple::Utils.escape_html((image_tag image_url('moj_logotype_email.png'), alt: 'Ministry of Justice')) %>

<span class="title">
<%= ::Temple::Utils.escape_html((" | Correspondence Tool")) %>
</span></td></tr><tr>
<td id="email-content">
<%= ::Temple::Utils.escape_html((yield)) %>
</td></tr></table></td></tr></table></body></html>
